.imglogo{
  display: flex;
  align-items: center;
}
.container{
   font-size: 12px;
   margin-left: 10px;
   display: flex;
   align-items: flex-start;
   position: relative;
 }
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  color: white;
  text-align: center;
  font-weight: bolder;
  font-size: 55px;
}
.mini-text{
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  color: white;
  font-weight: bold;
}
